body {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-box {
  text-align: center;
}

.btn-custom {
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: bold;
}
